<div class="modal-header">
  <h3>{{game}} for {{player}}</h3>
</div>

<div class="modal-body">
  <div ng-repeat="level in levels">
    <label><input type="checkbox" ng-model="progress[level]" ng-change="changed(level)"> {{level}}</label>
  </div>

  <div style="position:relative">
    <progressbar value="levels | progress:progress | number:0"></progressbar>
    <div class="prog-num" style="top:2px">{{levels | progress:progress | number:0}}%</div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn" ng-click="dismiss()">Close</button>
</div>
